<?php
  define('JIRA_HOST', 'http://jira.example.com');
  define('USER_AGENT', 'Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; SV1)');

  define('JIRA_USER', '<user>');        # replace <user> with your username example 'cmanion'
  define('JIRA_AUTH', 'Authorization: Basic <base64_encode>');  # php -r 'print base64_encode("user:password") . "\n"';

  define('JIRA_DEFAULT', '10001');      # default id for project for jira new

  define('JIRA_LIST', '<list>');        # your id for list -> saved searches
  define('JIRA_LISTALL', '<listall>');  # your id for listall -> saved searches
  define('JIRA_TRIAGE', '<triage>');    # your id for triage -> saved searches

  date_default_timezone_set('America/Los_Angeles');

  # so we can use default php.ini file
  ini_set('error_reporting', E_ALL & ~E_NOTICE);
  ini_set('display_errors', 0);
  ini_set('display_startup_errors', 0);
  ini_set('log_errors', 0);

