{{%UNESCAPED}}
DETAILS
* URL     : http://jira.mypvpower.com/browse/{{issue}}
* Type    : {{issuetype}}
* Sprint  : {{fixVersions}}
* Status  : {{status}}{{#resolution}} ({{resolution}})
{{/resolution}}
* Priority: {{priority}}
* Created : {{created}}
{{#updated}}
* Updated : {{updated}}
{{/updated}}
{{#resolutiondate}}
* Resolved: {{resolutiondate}}
{{/resolutiondate}}

PEOPLE
* Assignee: {{RED}}{{assignee}}{{RESET}}
* Reporter: {{RED}}{{reporter}}{{RESET}}

TITLE
{{summary}}

{{#description}}
DESCRIPTION
{{description}}

{{/description}}
COMMENTS
{{^comments}}
{{GREEN}}[No Comments]{{RESET}}

{{/comments}}
{{#comments}}
{{RED}}{{author}}{{RESET}} - {{id}} - {{created}}
{{GREEN}}{{body}}{{RESET}}

{{/comments}}
